@font-face {
    font-family: "Lemon Milk";
    src: url("LEMONMILK-Regular.otf");
  }

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(144deg, rgba(61,28,133,1) 0%, rgba(255,0,0,1) 100%);
    overflow: hidden;
}
.calculator
{
    position: relative;
    display: grid;
    
}
.calculator .value
{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px 10px 0px 0px;
    -webkit-transition-duration: 0.2s;
}

.calculator span
{
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #ff0044;
    place-items: center;
    border: 1px solid rgba(0,0,0,.1);
    font-family: "Lemon Milk";
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

}

.calculator span:active
{
    background: #5930B0;

}

.calculator span.clear
{
    grid-column: span 2;
    width: 122px;
    border: 1;
    background: #0073ff;
}

.calculator span.potens
{
    grid-column: span 2;
    width: 122px;
    border: 1;
}

.calculator span.sqrt
{
    grid-column: span 2;
    width: 122px;
    border: 1;
}

.calculator span.clear:active
{

    background: #ff0073;
}

.calculator span.plus
{
    grid-row: span 2;
    height: 122px;
}

.calculator span.equal
{
    background: #00FF3B;
    border-radius: 0px 0px 10px 0px;
}

.calculator span.faculty
{
    
    border-radius: 0px 0px 0px 10px;
}

.calculator span.zero
{
    
    border-radius: 0px 0px 0px 10px;
}

.calculator span.tan
{
    border-radius: 0px 0px 10px 0px;
}

.calculator span.equal:active
{
    background: #00B1D1;
}

.back
{
    color: white;
    border-radius: 0%;
    padding: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    border: none;
    
    font-size: 1.5rem;
    font-family: "LEMON MILK";
    color: crimson;
    text-align: center; 
    margin: auto;
    transition: 0.4s;
    outline: 0;
    border: none;
    cursor: pointer;
}

.backDiv
{
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.back:hover{
box-shadow: inset 5.5em 0 0 0 crimson;
color: white;
background-color: crimson;
}